 	

// The name of the overlay comes first
HUD/Score
{
    zorder 200
	
    container Panel(HUD/Score/Panel)
    {
      metrics_mode relative

      left 0.0
      top 0.9
      width 1
      height 0.1
		
		element TextArea(HUD/ScorePanel/Coins)
		{
		metrics_mode relative
		
         left 0.02
         font_name Big
         char_height 0.04
         colour 1 1 1
         caption Coins = 0
		}
		element TextArea(HUD/ScorePanel/Distance)
		{
		metrics_mode relative
		
         left 0.3
         font_name Big
         char_height 0.04
         colour 1 1 1
         caption Distance = 0 meters
		}
		
		element TextArea(HUD/ScorePanel/Speed)
		{
		metrics_mode relative
		
         left 0.7
         font_name Big
         char_height 0.04
         colour 1 1 1
         caption Speed = 0 m / s
		}

		
    }
}

HUD/LeftArrow
{
    zorder 200
	
    container Panel(HUD/LeftArrow/Panel)
    {
      metrics_mode relative

	  left 0.05
      top 0.05
      width 0.2
      height 0.2
	  material LeftArrow
    }    
}

HUD/RightArrow
{

    container Panel(HUD/RightArrow/Panel)
    {
      metrics_mode relative

	  left 0.75
      top 0.05
      width 0.2
      height 0.2
	  material RightArrow
    }   
}

HUD/CenterArrow
{
    container Panel(HUD/CenterArrow/Panel)
    {
      metrics_mode relative

	  left 0.4
      top 0.0
      width 0.2
      height 0.2
	  material CenterArrow
    }   
}

HUD/UpArrow
{
    container Panel(HUD/UpArrow/Panel)
    {
      metrics_mode relative

	  left 0.4
      top 0.0
      width 0.2
      height 0.2
	  material UpArrow
    }   
}

HUD/SpeedUp
{
    container Panel(HUD/SpeedUp/Panel)
    {
      metrics_mode relative

      left 0.3
      top 0.7
		
		element TextArea(HUD/SpeedUp/Text)
		{
		metrics_mode relative
		
         font_name Big
         char_height 0.08
		 
         colour 0.5 1 0.5
         caption Increasing Speed
		}
	}
}


HUD/SlowDown
{
   container Panel(HUD/SlowDown/Panel)
    {
      metrics_mode relative

      left 0.3
      top 0.7
		
		element TextArea(HUD/SlowDown/Text)
		{
		metrics_mode relative
		
         font_name Big
         char_height 0.08
		 
         colour 1 0.5 0.5
         caption Decreasing Speed
		}
	}
}

HUD/DownArrow
{
    container Panel(HUD/DownArrow/Panel)
    {
      metrics_mode relative

	  left 0.4
      top 0.0
      width 0.2
      height 0.2
	  material DownArrow
    }   
}

